<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <img src="<%= result.thumbnail %>" style="width: 800px"/>
    <p>제목 : <%= result.title %></p>
    <p>저자 : <%= result.authors %></p>
    <p>ISBN : <%= result.isbn %></p>
  </body>
</html>
